<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Api scocial media nodeJS</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Api Social Media Node</h1>
    <h2>User</h2>
    <h3>Post</h3>
    <ul>
      <li><h4>Create User</h4></li>
      <li class="links">
        https://api-social-media-node.onrender.com/api/user/register
      </li>
    </ul>
    <div class="img-container">
      <img src="img/post-1.png" />
    </div>
    <hr />
    <ul>
      <li><h4>Login</h4></li>
      <li class="links">
        https://api-social-media-node.onrender.com/api/user/login
      </li>
    </ul>
    <div class="img-container">
      <img src="img/post-2.png" />
    </div>
    <hr />
    <ul>
      <li><h4>Upload avatar file</h4></li>
      <li class="links">
        https://api-social-media-node.onrender.com/api/user/upload-avatar
      </li>
    </ul>
    <div class="img-container">
      <p>Add Token to Authorization in headers</p>
      <img src="img/post-3.png" />
      <p>Post File</p>
      <img src="img/post-4.png" />
    </div>
    <hr />
    <h3>Get</h3>
    <ul>
      <li><h4>Get User Profile</h4></li>
      <li class="links">
        https://api-social-media-node.onrender.com/api/user/profile/63e1d31c96976751ba21c66d
      </li>
    </ul>
    <p>Add Token to Authorization in headers</p>
    <hr />
    <ul>
      <li><h4>Get Users Profiles</h4></li>
      <li class="links">
        https://api-social-media-node.onrender.com/api/user/profiles/2
      </li>
    </ul>
    <p>Add Token to Authorization in headers</p>
    <hr />
    <ul>
      <li><h4>Get imagen avatar</h4></li>
      <li class="links">
        https://api-social-media-node.onrender.com/api/user/avatar/avatar-1676177126160-lajoya.png
      </li>
    </ul>
    <p>Add Token to Authorization in headers</p>
    <hr />
    <ul>
      <li><h4>Get User counter followed and following</h4></li>
      <li class="links">
        https://api-social-media-node.onrender.com/api/user/counter/63e1d31c96976751ba21c66d
      </li>
    </ul>
    <p>Add Token to Authorization in headers</p>
    <hr />
    <ul>
      <li><h4>Update user data</h4></li>
      <li class="links">
        https://api-social-media-node.onrender.com/api/user/update
      </li>
    </ul>
    <p>Add Token to Authorization in headers</p>
    <p>You can update all these fiels</p>
    <div class="img-container">
      <img src="img/img-update.png" />
    </div>
    <hr />
  </body>
</html>
